@charset "utf-8";

body,header,main, section, footer{
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}

main {
    margin: auto    ;
    padding: 10px;
    background: black;
    
    
    
}

article{
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
    
}

section {
    flex: 1 0 25%;
    
}
#galeria section {
    flex: 1 0 20%;
    
}


footer nav{
    
    display: flex;
    justify-content: center;
    
    
}

nav{
    display: flex;
    justify-content:space-between;
}
nav #felso{
    display: flex;
    flex-direction: row-reverse;
    
}

nav a {
    
    text-decoration: none;
    padding: 5px;
}
section img{
    width: 100%;
}












@media screen and (max-width:900px){
    
section {
    flex: 33.3333%;
    
}
    
    
    
}


@media screen and (max-width:600px){
    
section {
    flex: auto;
    
}
    
nav{
   
    flex-direction:column;
}
nav #felso{
    
   
    flex-direction: column-reverse;
    
}


    
    
}