@charset "utf-8";

body,header,main, section, footer{
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 10px;
    
}

main {
    margin: auto    ;
    padding: 10px;
    
    
    
    
}

article{
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
    
}

section {
    flex: 1 0 25%;
    
}

footer nav{
    
    display: flex;
    justify-content: center;
    
    
}

nav{
    display: flex;
    justify-content:space-between;
}
nav #felso{
    display: flex;
    flex-direction: row-reverse;
    
}

nav a {
    
    text-decoration: none;
    padding: 5px;
}